# Intrduction to scikit-learn (sklearn)
Demostration of the most useful functions of scikit learn library

What's we're going to cover : 
0. An end-to-end Scikit-Learn workflow
1. Get the data ready 
2. Choose the right estimator/algorithme for our problems
3. Fit rh model/algorithme and use it to make predictions on our data
4. Evaluating a model 
5. Improve a model
6. Save and load a trained model
7. Putting it all together

## 0. An end-to-end scikit-learn workflow

In [1]:
whatsWerecovering = [
"0. An end-to-end Scikit-Learn workflow",
"1. Get the data ready ",
"2. Choose the right estimator/algorithme for our problems",
"3. Fit rh model/algorithme and use it to make predictions on our data",
"4. Evaluating a model" ,
"5. Improve a model",
"6. Save and load a trained model",
"7. Putting it all together"]

In [2]:
whatsWerecovering

['0. An end-to-end Scikit-Learn workflow',
 '1. Get the data ready ',
 '2. Choose the right estimator/algorithme for our problems',
 '3. Fit rh model/algorithme and use it to make predictions on our data',
 '4. Evaluating a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together']

In [3]:
# Standard imports
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [4]:
import warnings 
warnings.filterwarnings("ignore")

In [5]:
# 1. Get the data ready 
import pandas as pd
heartDisease = pd.read_csv('/home/rayani00/Bureau/python/MLPerso/zero-to-mastery-ml-master/data/heart-disease.csv')
heartDisease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
# Create X (features matrix)
x = heartDisease.drop("target",axis=1)

# Create Y (Labels)
y = heartDisease["target"]

In [7]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

# We'ell keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [8]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

# test_size means that 80% of data 
# Wille be used for training
# 20% wille be used for testing
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [9]:
clf.fit(X_train,y_train);

In [10]:
# Make a prediction 
y_preds = clf.predict(X_test)
y_preds

array([1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0])

In [11]:
y_test

105    1
251    0
51     1
174    0
218    0
      ..
158    1
50     1
137    1
187    0
224    0
Name: target, Length: 61, dtype: int64

In [12]:
# 4. Evaluate the model on the trainig data and the test data
clf.score(X_train, y_train)

1.0

In [13]:
clf.score(X_test, y_test)

0.819672131147541

In [14]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.84      0.81      0.83        32
           1       0.80      0.83      0.81        29

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

In [15]:
confusion_matrix(y_test, y_preds)

array([[26,  6],
       [ 5, 24]])

In [16]:
accuracy_score(y_test, y_preds)

0.819672131147541

In [17]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range (10, 100, 10) : 
    print(f'Trying model with {i} estimators ..')
    clf = RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f'Model accuracy on test set : {clf.score(X_test, y_test) * 100}')
    print('-----------')

Trying model with 10 estimators ..
Model accuracy on test set : 88.52459016393442
-----------
Trying model with 20 estimators ..
Model accuracy on test set : 80.32786885245902
-----------
Trying model with 30 estimators ..
Model accuracy on test set : 83.60655737704919
-----------
Trying model with 40 estimators ..
Model accuracy on test set : 83.60655737704919
-----------
Trying model with 50 estimators ..
Model accuracy on test set : 81.9672131147541
-----------
Trying model with 60 estimators ..
Model accuracy on test set : 85.24590163934425
-----------
Trying model with 70 estimators ..
Model accuracy on test set : 80.32786885245902
-----------
Trying model with 80 estimators ..
Model accuracy on test set : 83.60655737704919
-----------
Trying model with 90 estimators ..
Model accuracy on test set : 83.60655737704919
-----------

In [18]:
# 6. Save a model and load it
import pickle
pickle.dump(clf,open("random_forest_model_1.pkl","wb"))

In [19]:
loadedModel = pickle.load(open("random_forest_model_1.pkl","rb"))
loadedModel.score(X_test,y_test)

0.8360655737704918

In [20]:
import sklearn
sklearn.show_versions()

System:
    python: 3.8.5 (default, Jan 27 2021, 15:41:15)  [GCC 9.3.0]
executable: /usr/bin/python3
   machine: Linux-5.8.0-48-generic-x86_64-with-glibc2.29

Python dependencies:
          pip: 21.0.1
   setuptools: 45.2.0
      sklearn: 0.24.1
        numpy: 1.20.1
        scipy: 1.6.1
       Cython: None
       pandas: 1.2.1
   matplotlib: 3.1.2
       joblib: 1.0.1
threadpoolctl: 2.1.0

Built with OpenMP: True

##  1- Getting our data ready to be used with machine learning
    Three main things we have to do  : 
        1. Spliting the data into features and labels (usually 'x' & 'y')
        2. Filling (also called imputing) or disregarding missing values 
        3. Converting non-numerical values into numerical values (also called  feature encoding)

In [21]:
heartDisease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [22]:
# Get the features 
X = heartDisease.drop("target",axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [23]:
# Get the labels
y = heartDisease.target
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [24]:
# Split the data into training and training test sets
from sklearn.model_selection import train_test_split

In [25]:
# It returns 4 arrays
# test_size is the size of the data we want to test 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)