# Intrduction to scikit-learn (sklearn)
Demostration of the most useful functions of scikit learn library

What's we're going to cover : 

0. An end-to-end Scikit-Learn workflow
1. Get the data ready 
2. Choose the right estimator/algorithme for our problems
3. Fit the model/algorithme and use it to make predictions on our data
4. Evaluating a model 
5. Improve a model
6. Save and load a trained model
7. Putting it all together

## 0. An end-to-end scikit-learn workflow

In [1]:
whatsWerecovering = [
"0. An end-to-end Scikit-Learn workflow",
"1. Get the data ready ",
"2. Choose the right estimator/algorithm for our problems",
"3. Fit rh model/algorithme and use it to make predictions on our data",
"4. Evaluating a model" ,
"5. Improve a model",
"6. Save and load a trained model",
"7. Putting it all together"]

In [2]:
whatsWerecovering

['0. An end-to-end Scikit-Learn workflow',
 '1. Get the data ready ',
 '2. Choose the right estimator/algorithm for our problems',
 '3. Fit rh model/algorithme and use it to make predictions on our data',
 '4. Evaluating a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together']

In [3]:
# Standard imports
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [4]:
import warnings 
warnings.filterwarnings("ignore")

In [5]:
# 1. Get the data ready 
import pandas as pd
heartDisease = pd.read_csv('/home/rayani00/Bureau/python/MLPerso/zero-to-mastery-ml-master/data/heart-disease.csv')
heartDisease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
## To get the target in function of others attributes
# Create X (features matrix)
X = heartDisease.drop("target", axis=1)

# Create y (labels)
y = heartDisease["target"]

In [7]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

# We'ell keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [8]:
# 3. Fit the model to the training data

from sklearn.model_selection import train_test_split
# train_test_split is an algorithm that splits data

# test_size means that 80% of data 
# Will be used for training
# 20% wille be used for testing
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [9]:
# We have to fit the data model we created
clf.fit(X_train,y_train);

In [10]:
# Make a prediction 
y_preds = clf.predict(X_test)
y_preds

array([1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1])

In [11]:
y_test

94     1
91     1
30     1
233    0
267    0
      ..
37     1
99     1
296    0
273    0
62     1
Name: target, Length: 61, dtype: int64

In [12]:
# 4. Evaluate the model on the trainig data and the test data
clf.score(X_train, y_train)

1.0

In [13]:
clf.score(X_test, y_test)

0.819672131147541

In [14]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
classification_report()
print(classification_report(y_test,y_preds))

TypeError: classification_report() missing 2 required positional arguments: 'y_true' and 'y_pred'

In [30]:
confusion_matrix(y_test, y_preds)

array([[17, 10],
       [ 1, 33]])

In [31]:
accuracy_score(y_test, y_preds)

0.819672131147541

In [32]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range (10, 100, 10) : 
    print(f'Trying model with {i} estimators ..')
    clf = RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f'Model accuracy on test set : {clf.score(X_test, y_test) * 100}')
    print('-----------')

Trying model with 10 estimators ..
Model accuracy on test set : 77.04918032786885
-----------
Trying model with 20 estimators ..
Model accuracy on test set : 83.60655737704919
-----------
Trying model with 30 estimators ..
Model accuracy on test set : 81.9672131147541
-----------
Trying model with 40 estimators ..
Model accuracy on test set : 85.24590163934425
-----------
Trying model with 50 estimators ..
Model accuracy on test set : 81.9672131147541
-----------
Trying model with 60 estimators ..
Model accuracy on test set : 80.32786885245902
-----------
Trying model with 70 estimators ..
Model accuracy on test set : 77.04918032786885
-----------
Trying model with 80 estimators ..
Model accuracy on test set : 83.60655737704919
-----------
Trying model with 90 estimators ..
Model accuracy on test set : 83.60655737704919
-----------

In [33]:
# 6. Save a model and load it
import pickle
pickle.dump(clf,open("random_forest_model_1.pkl","wb"))

In [34]:
loadedModel = pickle.load(open("random_forest_model_1.pkl","rb"))
loadedModel.score(X_test,y_test)

0.8360655737704918

In [35]:
import sklearn
sklearn.show_versions()

System:
    python: 3.8.5 (default, Sep  4 2020, 07:30:14)  [GCC 7.3.0]
executable: /home/rayani00/anaconda3/bin/python
   machine: Linux-5.8.0-55-generic-x86_64-with-glibc2.10

Python dependencies:
          pip: 21.1
   setuptools: 50.3.1.post20201107
      sklearn: 0.24.1
        numpy: 1.19.2
        scipy: 1.6.1
       Cython: 0.29.21
       pandas: 1.1.3
   matplotlib: 3.3.4
       joblib: 1.0.1
threadpoolctl: 2.1.0

Built with OpenMP: True

##  1- Getting our data ready to be used with machine learning
    Three main things we have to do  : 
        1. Spliting the data into features and labels (usually 'x' & 'y')
        2. Filling (also called imputing) or disregarding missing values 
        3. Converting non-numerical values into numerical values (also called feature encoding)

In [36]:
heartDisease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [37]:
# Get the features 
# axis = 1 : column axis
# axis = 0 : rows axis 
X = heartDisease.drop("target",axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [38]:
# Get the labels
y = heartDisease.target
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [39]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split

In [40]:
# It returns 4 arrays
# test_size is the size of the data we want to test 
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2)

In [41]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

##### As we can see 80% of the heart_disease rows go to our training model, and 20% goes to our test model

## 1.1 Make sure it's all numerical

In [15]:
car_sales = pd.read_csv("/home/rayani00/Bureau/python/MLPerso/zero-to-mastery-ml-master/data/car-sales-extended.csv")

In [16]:
car_sales.head

<bound method NDFrame.head of        Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]>

In [19]:
# Split into X and y
X =  car_sales.drop("Price", axis=1)
y = car_sales["Price"]

# Split into training and test data 
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [20]:
# Build machine learning model 
# Regressor predict a number

from sklearn.ensemble import RandomForestRegressor 
model = RandomForestRegressor()
model.fit(X_train,y_train)
model.score(X_test,y_test)

ValueError: could not convert string to float: 'Toyota'

In [23]:
X.head

<bound method NDFrame.head of        Make Colour  Odometer (KM)  Doors
0     Honda  White          35431      4
1       BMW   Blue         192714      5
2     Honda  White          84714      4
3    Toyota  White         154365      4
4    Nissan   Blue         181577      3
..      ...    ...            ...    ...
995  Toyota  Black          35820      4
996  Nissan  White         155144      3
997  Nissan   Blue          66604      4
998   Honda  White         215883      4
999  Toyota   Blue         248360      4

[1000 rows x 4 columns]>

In [36]:
# Turn the categorical features into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer 

categorical_features = ["Make", "Colour", "Doors"]
# One hot is the method we'll use in this case
categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder="passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [38]:
# Let' put this data into a datafranme 
pd.DataFrame(transformed_X)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [40]:
# We can also use dummies in pandas
dummies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [43]:
# Let's refit the model 
np.random.seed(11)
X_train, X_test, y_train, y_test = train_test_split(transformed_X,
                                                    y,
                                                    test_size=0.2)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.2941031433819311

## 1.2 How to deal with missing values
1. Fille them with some values (Also called imputation)
2. Remove the rows that contains missing values

In [60]:
car_sales_missing = pd.read_csv("/home/rayani00/Bureau/python/MLPerso/zero-to-mastery-ml-master/data/car-sales-extended-missing-data.csv")

In [67]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [61]:
# Let's create X and y 
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [62]:
# Turn the categorical features into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer 

categorical_features = ["Make", "Colour", "Doors"]
# One hot is the method we'll use in this case
categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder="passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

<1000x16 sparse matrix of type '<class 'numpy.float64'>'
	with 4000 stored elements in Compressed Sparse Row format>

### Option 1  : Fill missing data with pandas

In [63]:
# Fill the "Make" column 
car_sales_missing["Make"].fillna("Missing", inplace=True)

# Fill the "Colour" column 
car_sales_missing["Colour"].fillna("Missing", inplace=True)

# Fill the "Odometer (KM)" column 
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(), inplace=True)

# Fill the "Doors" column 
car_sales_missing["Doors"].fillna(4, inplace=True)

In [64]:
car_sales_missing

        Make Colour  Odometer (KM)  Doors    Price
0      Honda  White        35431.0    4.0  15323.0
1        BMW   Blue       192714.0    5.0  19943.0
2      Honda  White        84714.0    4.0  28343.0
3     Toyota  White       154365.0    4.0  13434.0
4     Nissan   Blue       181577.0    3.0  14043.0
..       ...    ...            ...    ...      ...
995   Toyota  Black        35820.0    4.0  32042.0
996  Missing  White       155144.0    3.0   5716.0
997   Nissan   Blue        66604.0    4.0  31570.0
998    Honda  White       215883.0    4.0   4001.0
999   Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [66]:
# Remove rows with missing Price value
car_sales_missing.dropna(inplace=True)

In [68]:
len(car_sales_missing)

950

##### After cleaning the data, let's test a model on it !

In [69]:
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

In [72]:
# Turn the categorical features into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer 

categorical_features = ["Make", "Colour", "Doors"]
# One hot is the method we'll use in this case
categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder="passthrough")

transformed_X = transformer.fit_transform(car_sales_missing)
pd.DataFrame(transformed_X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,35431.0,15323.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,192714.0,19943.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,84714.0,28343.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,154365.0,13434.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,181577.0,14043.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,35820.0,32042.0
946,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,155144.0,5716.0
947,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,66604.0,31570.0
948,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,215883.0,4001.0
949,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,248360.0,12732.0

### Option 2 : Fill missing values with scikit-learn

In [74]:
car_sales_missing = pd.read_csv("/home/rayani00/Bureau/python/MLPerso/zero-to-mastery-ml-master/data/car-sales-extended-missing-data.csv")

In [78]:
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [77]:
# Drop the rows with no labels (Price column)
car_sales_missing.dropna(subset=["Price"], inplace=True)

In [79]:
# Split into X & y (Turn the data into label and features)
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing.Price

In [81]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill categorical values with missing and numerical with mean
cat_imputer = SimpleImputer(strategy="constant", fill_value="Missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
num_imputer =  SimpleImputer(strategy="mean")

# Define columns 
cat_features = ["Make", "Colour"]
num_featues = ["Odometer (KM)"]
door_features = ["Doors"]

# Create an imputer (Something that automatically fills missing values)
imputer =  ColumnTransformer ([
    ("cat_imputer", cat_imputer, cat_features),
    ("num_imputer", num_imputer, num_featues),
    ("door_imputer", door_imputer, door_features)
])

# Transform the data 
filled_X = imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 35431.0, 4.0],
       ['BMW', 'Blue', 192714.0, 5.0],
       ['Honda', 'White', 84714.0, 4.0],
       ...,
       ['Nissan', 'Blue', 66604.0, 4.0],
       ['Honda', 'White', 215883.0, 4.0],
       ['Toyota', 'Blue', 248360.0, 4.0]], dtype=object)