In [1]:
import numpy as np

## DataTypes and Attributes

In [2]:
# NumPy's main datatype is ndarray 
a1 = np.array([1,5,0])

In [3]:
a1

array([1, 5, 0])

In [4]:
# Its type is ndarray
type(a1)

numpy.ndarray

In [5]:
a2 = np.array([[1,2,3],
              [4,5,6]])

In [6]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [7]:
a3 = np.array([[[1,2,3],
              [4,5,6],
              [7,8,9]],
              [[10,11,12],
              [13,14,15],
              [16,17,18]]])

In [8]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [9]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [10]:
# shape is an attribute of numpy array
# it gives the number of rows and columns
a1.shape,a2.shape,a3.shape

((3,), (2, 3), (2, 3, 3))

In [11]:
# ndim is an attribute of numpy array
# it gives the dimension of an array
a1.ndim,a2.ndim,a3.ndim

(1, 2, 3)

In [12]:
# To see the types of elements that are inside of an array
a1.dtype,a2.dtype,a3.dtype

(dtype('int64'), dtype('int64'), dtype('int64'))

In [13]:
# To see size of elements that are inside of the array 
a1.size,a2.size,a3.size

(3, 6, 18)

In [14]:
import pandas as pd

In [15]:
# Create a dataFrame from a NumPy array
df = pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  4  5  6

## Creating arrays

In [16]:
sampleArray = np.array([1,2,3])

In [17]:
sampleArray.dtype

dtype('int64')

In [18]:
# Create an array filled with ones
ones = np.ones((2,3),int)
ones

array([[1, 1, 1],
       [1, 1, 1]])

In [19]:
ones.dtype

dtype('int64')

In [20]:
type(ones)

numpy.ndarray

In [21]:
# Create an array filled with zeros
# The default type is float
zeros = np.zeros((2,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [22]:
# Create an ranged array
rangeArray = np.arange(0,10,2)
rangeArray

array([0, 2, 4, 6, 8])

In [23]:
# Create a random array
randomArray = np.random.randint(0,10,(8,5))
randomArray

array([[8, 2, 0, 5, 1],
       [2, 4, 0, 9, 0],
       [0, 2, 1, 2, 9],
       [3, 5, 7, 1, 2],
       [6, 6, 0, 2, 5],
       [0, 5, 9, 1, 4],
       [5, 8, 8, 4, 4],
       [0, 8, 2, 7, 9]])

In [24]:
randomArray.size

40

In [25]:
randomArray2 = np.random.rand(2,3)
randomArray2

array([[0.82154582, 0.20167285, 0.53291023],
       [0.39898962, 0.45460202, 0.96843459]])

In [26]:
# Pseudo-random numbers 
# The seed is to make the random values don't change from 
# a notebook to another notebook
np.random.seed(5)
randomArray3 = np.random.randint(0,10,(5,3),int)
randomArray3

array([[3, 6, 6],
       [0, 9, 8],
       [4, 7, 0],
       [0, 7, 1],
       [5, 7, 0]])

## Viewing arrays and martices

In [28]:
# Find unique elements of an array
np.unique(randomArray3)

array([0, 1, 3, 4, 5, 6, 7, 8, 9])

In [31]:
a1

array([1, 5, 0])

In [33]:
a2[0]

array([1, 2, 3])

In [34]:
a3[1]

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

In [35]:
a3.shape

(2, 3, 3)

In [36]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [37]:
# Slicing an array
a3[:2,:1,:2]

array([[[ 1,  2]],

       [[10, 11]]])