In [8]:
print(movies_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB
None

In [1]:
import pandas as pd

In [2]:
movies_df = pd.read_csv('IMDB-Movie-Data.csv', index_col="Title")

In [7]:
print(movies_df.head())

                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0

In [9]:
print("dataset=", movies_df.shape)

dataset= (1000, 11)

In [13]:
print("Columns=", movies_df.columns)

Columns= Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [3]:
temp_df = movies_df.dropna()

In [4]:
print(temp_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 838 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                838 non-null    int64
 1   Genre               838 non-null    object
 2   Description         838 non-null    object
 3   Director            838 non-null    object
 4   Actors              838 non-null    object
 5   Year                838 non-null    int64
 6   Runtime (Minutes)   838 non-null    int64
 7   Rating              838 non-null    float64
 8   Votes               838 non-null    int64
 9   Revenue (Millions)  838 non-null    float64
 10  Metascore           838 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 78.6+ KB
None

In [20]:
temp_df = movies_df.dropna("columns")

In [21]:
print(temp_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rank               1000 non-null   int64
 1   Genre              1000 non-null   object
 2   Description        1000 non-null   object
 3   Director           1000 non-null   object
 4   Actors             1000 non-null   object
 5   Year               1000 non-null   int64
 6   Runtime (Minutes)  1000 non-null   int64
 7   Rating             1000 non-null   float64
 8   Votes              1000 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 78.1+ KB
None

In [5]:
revenue = movies_df['Revenue (Millions)']

In [6]:
revenue_mean = revenue.mean()

In [ ]:
revenue_mean = revenue.mean()

In [8]:
df_temp = temp_df.isnull()

In [10]:
df_temp.sum().sum()

0

In [11]:
print(temp_df.isnull().sum())

Rank                  0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime (Minutes)     0
Rating                0
Votes                 0
Revenue (Millions)    0
Metascore             0
dtype: int64

In [12]:
df_temp = temp_df.isnull().sum()

In [13]:
print(temp_df.describe())

              Rank        Year  Runtime (Minutes)      Rating         Votes  \
count   838.000000   838.00000         838.000000  838.000000  8.380000e+02
mean    485.247017  2012.50716         114.638425    6.814320  1.932303e+05
std     286.572065     3.17236          18.470922    0.877754  1.930990e+05
min       1.000000  2006.00000          66.000000    1.900000  1.780000e+02
25%     238.250000  2010.00000         101.000000    6.300000  6.127650e+04
50%     475.500000  2013.00000         112.000000    6.900000  1.368795e+05
75%     729.750000  2015.00000         124.000000    7.500000  2.710830e+05
max    1000.000000  2016.00000         187.000000    9.000000  1.791916e+06

       Revenue (Millions)   Metascore
count          838.000000  838.000000
mean            84.564558   59.575179
std            104.520227   16.952416
min              0.000000   11.000000
25%             13.967500   47.000000
50%             48.150000   60.000000
75%            116.800000   72.000000
max            936.630000  100.000000

In [14]:
print("\n", movies_df['Genre'].describe())

 count                        1000
unique                        207
top       Action,Adventure,Sci-Fi
freq                           50
Name: Genre, dtype: object

In [15]:
print("\n", movies_df['Genre'].value_counts().head(10))

 Action,Adventure,Sci-Fi       50
Drama                         48
Comedy,Drama,Romance          35
Comedy                        32
Drama,Romance                 31
Comedy,Drama                  27
Action,Adventure,Fantasy      27
Animation,Adventure,Comedy    27
Comedy,Romance                26
Crime,Drama,Thriller          24
Name: Genre, dtype: int64